
html {
  position: relative;
  min-height: 100%;
}

body {
    background-image:url('./oil.jpg');
    background-attachment:scroll;
    background-repeat : no-repeat;
    background-position: top;
    background-size:  cover;
}



